{% extends 'base.html.twig' %}

{% block title %}Listing collaborateur{% endblock %}

{% block body %}
    <h1>Liste des collaborateurs</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ collaborateur.id }}</td>
            </tr> #}
            <tr>
                <th>Nom</th>
                <td>{{ collaborateur.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ collaborateur.prenom }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ collaborateur.dateNaissance ? collaborateur.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date d'entrée en entreprise</th>
                <td>{{ collaborateur.dateEntreeEntreprise ? collaborateur.dateEntreeEntreprise|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Num. Sécurité Sociale</th>
                <td>{{ collaborateur.numSecuriteSocial }}</td>
            </tr>
            <tr>
                <th>Type de contrat</th>
                <td>{{ collaborateur.typeContrat }}</td>
            </tr>
            <tr>
                <th>Date/heure dernière connexion</th>
                <td>{{ collaborateur.dateHeureDerniereConnexion ? collaborateur.dateHeureDerniereConnexion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Durée de travail hebdo.</th>
                <td>{{ collaborateur.dureeTravailHebdo }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ collaborateur.login }}</td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ collaborateur.motDePasse }}</td>
            </tr>
            {# <tr>
                <th>Est admin</th>
                <td>{{ collaborateur.isAdmin ? 'Oui' : 'Non' }}</td>
            </tr> #}
        </tbody>
    </table>

    <a href="{{ path('collaborateur_index') }}">Retour</a>

    <a href="{{ path('collaborateur_edit', {'id': collaborateur.id}) }}">Modifier</a>

    {{ include('collaborateur/_delete_form.html.twig') }}
{% endblock %}
